# dependencies
node_modules/

# build output
dist/
target/
bin/
pkg/

# logs
*.log
wasm-pack.log

# environment variables
.env
.dev.vars*
!.dev.vars.example

# editor
.idea/

# cloudflare
.wrangler/

# rust
**/*.rs.bk
Cargo.lock
.cargo-ok
